.darkbutton{
height: 50px;
width: 50px;
border-radius: 25px;
border: none;
color: white;
background-color: rgb(74, 60, 60);
font-weight: bold;
font-family: Arial;
font-size: 15px;
}

.orangebutton{
height: 50px;
width: 50px;
border-radius: 25px;
border: none;
color: white;
background-color: rgb(238, 174, 55);
font-weight: bold;
font-family: Arial;
font-size: 15px;
}
.js-Output{
font-size: 20px;
font-weight: bold;
font-family: arial;
margin-top: 20px;
}
